@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --cor-primaria: #1351d8;
  --cor-secundaria: #1b357e;
  --cor-vermelho: red;
  --fonte-principal: "Roboto", sans-serif;
  --sombra: rgba(10, 38, 197, 0.1);
  --underline: hsl(239, 83%, 38%);
  --cor-branco-puro: #ffffff;
  --cor-cinza-claro: #ccc;
  --cor-cinza-muito-claro: #e7e7e7;
  --cor-cinza-muito-escuro: #333;
  --cor-cinza-médio-neutro: #666;
  --cor-cinza-médio-escuro: #807d7d;
  --rgba-preto-20-opacidade: rgba(0, 0, 0, 0.2);
  --rgba-preto-50-opacidade: rgba(0, 0, 0, 0.5);
  --rgba-preto-80-opacidade: rgba(0, 0, 0, 0.8);
  --rgba-preto-5-opacidade: rgba(0, 0, 0, 0.05);
  --rgba-azul-ford-trans: rgba(0, 102, 204, 0.1);
  --rgb-preto-transparente-34-opacidade: rgb(0 0 0 / 34%);
}

.fordform {
  display: block;
  width: 300px;
  border: 1px solid var(--cor-cinza-claro);
  border-radius: 10px;
  height: 26px;
  margin: 8px;
  font-size: 13px;
  padding: 5px;
}

select.fordform {
  width: 310px;
  height: 36px;
  color: var(--cor-cinza-médio-escuro);
}

input:focus-visible {
  outline: none;
}

select:focus-visible {
  outline: none;
}

main div {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.forms {
  display: block;
  text-align: center;
}

h2 {
  text-align: left;
  font-weight: 800;
}

button {
  display: block;
  width: 200px; /* Largura fixa */
  margin: 15px auto; /* Centraliza horizontalmente */
  padding: 10px;
  text-align: center;
  border: none;
  cursor: pointer;  
}

.titulo {
  margin-left: 8px;
}

.imagem-animada {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease, transform 2s ease;
}

.imagem-animada.visible {
  opacity: 1;
  transform: translateY(0);
}
@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.flutuando {
  animation: flutuar 3s ease-in-out infinite;
}

/* Estilos para o botão do bot */
.bot-helper {
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.bot-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.bot-icon:hover {
  transform: scale(1.1);
}

.bot-btn {
  background-color: var(--cor-primaria);
  color: var(--cor-branco-puro);
  border: none;
  padding: 10px auto;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 5px var(--rgba-preto-20-opacidade);
  transition: background-color 0.3s;
}

.bot-btn:hover {
  background-color: var(--cor-secundaria);
}

.condicao {
  width: 320px;
  padding: 16px;
  margin-top: 10px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: var(--rgba-preto-5-opacidade);
  border-radius: 10px;
}
.condicao label {
  display: block;
  margin-top: 10px;
}
.condicao a {
  color: var(--underline);
  text-decoration: underline;
}

.checkbox {
  accent-color: var(--cor-secundaria);
  border: 1px solid var(--cor-secundaria);
}

.botao-desabilitado {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: var(--cor-cinza-claro);
}

.termo-nao-aceito {
    color: var(--cor-vermelho);
    border: 1px solid var(--cor-vermelho);
    padding: 5px;
    border-radius: 4px;
}

.termo-nao-aceito input[type="checkbox"] {
    accent-color: var(--cor-vermelho); 
}

@media (max-width: 728px) {
  .condicao {
    margin-top: 40px;
  }
 .bot-helper {
    position: fixed;
    bottom: 10px;
    margin-right: auto;
  }
  .bot-icon {
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    
  }

  .bot-icon:hover {
    transform: scale(1.1);
  }
  .bot-btn {       
    width: 130px;
    padding: 5px auto;
    border-radius: 10px;    
    font-size: 15px;    
  }

  .bot-btn:hover {
    background-color: var(--cor-secundaria);
  }
}

@media (max-width: 400px) {
.bot-helper {
    position: fixed;
    bottom: 10px;
    margin-right: auto;
  }
  .bot-icon {
    width: 35px;
    height: 35px;
  }
  .bot-btn {       
    width: 110px;
    padding: 5px auto;
    border-radius: 10px;    
    font-size: 12px;    
  }

}
